.hed{
    color: #272727;
font-size: 80px;

font-weight: 800;
padding: 197px 972px 0px 240px;
}
 p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 634px;
    padding-left: 240px;
  

}


.first-pera{
    background : rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
    background-image: url('../flower-shop-assignment/Flower\ Asset/pngwing-10.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.button-font{
    align-items: flex-start;
    display: inline-flex;
    padding: 20px 43px;
    gap: 10px;
    color: #f8eded;
    border-radius: 8px;
    background: #E55473;
    font-size: 20px;
    font-weight: 700px;
   margin-right: 240px;
}

/* Main function */

.main-h3{
     color: #272727;
     text-align: center;
     font-size: 40px;
     font-weight: 800;
     padding-top: 100px;
}
.main-pera{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
padding-left: 380px; 


}
/* flower */

.flw{
    width: 1920px;
height: 4867px;
}
.flower{
  
    display: flex;
    gap: 30px;
    padding-left: 100px;
  
 
}
.fig{
    color: #272727;

font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px; /* 145.833% */
text-decoration-line: underline;

}
.imgi{
   
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
   height: 538px;
    flex-shrink: 0;
    
}
.imgj{
   
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
    width: 464px;
   height: 538px;
    flex-shrink: 0;
    
}
.imgk{
   
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
   height: 538px;
    flex-shrink: 0;
    
}


.background{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
  
 
}
.islam{
    display: flex;
}
section > img{
   
width: 88px;
height: 88px;
flex-shrink: 0;
}
.first-p{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}
.sec-pic{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-family: Lato;
font-size: 24px;

font-weight: 600;
line-height: 35px;
}
.th-p{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-family: Lato;
font-size: 24px;

font-weight: 600;
line-height: 35px; /* 145.833% */
}
.high{
padding: 100px 0px 0px 250px;

}
.pic{
    padding: 100px 0px 0px 200px;
    
}
.pici{
    padding: 100px 70px 0px 200px;
    
}
.picj{
    padding: 100px 120px 0px 0px;
    
}

/* new */

.last{

    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
width: 1922px;
height: 620px;
flex-shrink: 0;
padding-right: 100px;

}
.again{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding: 230px 962px 0px 423px;
}
.lorem{
padding-left: 200px;
}
span{
    color: #E55473;
}
.button-fnt{
    border-radius: 8px;
background: #E55473;
display: inline-flex;
padding: 20px 43px;
align:center;
gap: 10px;
color: #FFF;
font-size: 20px;
font-weight: 700;


}

.lastp{
    padding-left: 450px;
}
.btn{
   padding-left: 900px;
}

/* new */
.insta{
    text-align: center;
    padding-top: 50px;
}
.downp{
padding-left: 400px;
}
.newpic{
    padding-left: 340px;
    padding-top: 40px;
}
.b-img{
    background: url('../flower-shop-assignment/Flower\ Asset/Rectangle-9.png');
    
    width: 1440px;
    height: 449px;

}
.back{
    padding-left: 330px;
    padding-top: 90px;
}
.g{
    width: 700px;
    height: 64px;
    border-radius: 8px;
background: #FFF;


}
.email{
    padding-left: 350px;
    padding-top: 100px;
}
.sub{
    width: 150px;
    height: 64px;
    border-radius: 8px;
background: #E55473;
padding-left: 20px;
    
}
.get{
    color: #272727;
font-size: 40px;
font-weight: 800;
padding-left: 250px;

}
.dlr{
    padding-left: 300px;
    padding-bottom: 50;
}



/* footer */
.bkcl{

    width: 1922px;
height: 449px;
flex-shrink: 0;
background: #111010;

}
.clr{
    padding-top: 60px;
padding-left: 60px;
}

.fls{
    color: #E55473;
font-family: Lato;
font-size: 48px;
font-weight: 800;
color: #FFF;
font-family: Lato;
font-size: 48px;
font-weight: 800;
padding-left: 570px;

}
.sclr{

    color: #E55473;
}
.fine{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;

font-weight: 400;
line-height: 30px; 
padding-left: 400px;
}
.final{
 padding-top:  100px;
 padding-left: 240px;
}